.app-nav {
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }

    a {
        color: blue;
        text-decoration: underline;
    }
}

.app-title {

}

.app-list {
    display: flex;
    flex-direction: column;
    gap: 12px;

    li {
        display: flex;
        justify-content: space-between;
        align-items: start;
    }
}

.app-btn-group {
    display: flex;
    gap: 8px;
    margin-top: 8px;
}

.app-btn {
    display: flex;
    background-color: rgba(206, 212, 218, 0.32);
    padding: 10px;
    border-radius: 6px;
    width: fit-content;
    cursor: pointer;
}



hr {
    border-top-color: #ccc;
}

ol {
    list-style: revert;
    list-style-position: inside;
}

.app-table {
    border: 1px gray solid;
    width: 100%;
    border-collapse: collapse;

    td, th {
        border: 1px gray solid;
        padding: 12px;
    }

  &__sort-link {
    text-decoration: none;

    &::after {
      content: attr(href);
      display: block;
      font-size: 10px;
      color: #000;
    }
  }

}

.app-actions {
    display: flex;
    gap: 8px;
}
