form {
  margin: 0;
}

.app-fieldset {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__title {
        font-weight: 700;
    }
}

.form-item {
  display: flex;
  flex-direction: column;
  align-self: start;
  gap: 4px;

  &_hh {
    padding: 5px;
    border: 1px #999 solid;
  }
}

.form-err {
  font-style: italic;
  color: red;
}

.app-input {
    border: 1px #ccc solid;
}

.app-textarea {
  @extend .app-input;
  resize: none;
  min-height: 5em;
  max-height: 10em;
  field-sizing: content;

  &_tale {
    min-height: 10em;
    max-height: 20em;
  }
}

:is(input, select):disabled {
    opacity: .7;
}

input[type=checkbox] {
    cursor: pointer;
}

label:has(input[type=checkbox]) {
    display: flex;
    align-items: center;
    gap: 8px;
}
