body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    border-bottom: 1px #ccc solid;
}

main {
    flex: 1;
}

footer {
    border-top: 1px #ccc solid;
}

.layout-stack {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
